* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 850vh;

}

/* ======================= start section1================= */

.section1 {
    height: 110vh;
    background-color: #0e1d33;
    background-image: url(../img/hero-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.section1 .nav-item {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.section1 .getquote {
    padding: 10px 20px;
}

#inputPassword2:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.section1 .header_img {
    transform: scale(0.8);
    /* padding-top: 50px; */
}

.section1 .navbar{
    position: fixed;
    width: 90%;
    top: 0px;
    /* right: 0px; */
    /* left: 0px; */
    background-color: #0E1D34;
}
.section1_title{
    font-size: 45px;
}
/* tablet */
@media (max-width : 768px) {
    .section1 {
        height: auto;
    }

    .section1 .header_img {
        transform: scale(0.7);
    }

    .section1_content_img {
        order: -1;
    }
}

/* mobile */
@media (max-width : 552px) {
    .section1 .header_img {
        transform: scale(0.8);
    }
    .section1_title{
        font-size: 30px;
        padding-left: 0px !important;
    }
    .section1 {
        height: auto;
    }
}

/* ======================= end section1================= */



/* ======================= start section2 about us================= */


.section2 .card:hover .fa-cart-flatbed {
    color: #0d41ff !important;
}

.section2 .card:hover .card-title a {
    color: #0d41ff !important;
}

.section2 .card:hover .card-text a {
    color: #0d41ff !important;
}

.section2 .card:hover .fa-truck {
    color: #0d41ff !important;
}

.section2 .card:hover .fa-truck-ramp-box {
    color: #0d41ff !important;
}



/* ======================= end section2 about us================= */



/* ======================= section 3 Our Services ================= */

.section3 .title {
    width: 100%;
    height: 85px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .title .background {
    position: absolute;
    transform: scale(1.5 , 1.6);
    color: #001973;
    opacity: 0.1;
    font-weight: bold;
}

.section3 .title .head {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
    color: #001973;
}

.section3 .title .underline {
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: #0d41ff;
    bottom: 0px;
}

.section3 .row .card {
    width: 23rem !important;
}
.section3 .row .card{
    overflow: hidden;
}
.section3 .row .card img {
    transition: all 0.5s ease-in-out;
    margin-bottom: 15px;

}
.section3 .row .card img:hover {
    transform: scale(1.1);

}

.section3 .row .card .card-body .card-title a:hover {
    color: #0d41ff !important;

}


/* mobile */
@media (max-width : 552px) {
    .section3 .row .card {
        width: 24rem !important;
        margin: auto;
    }
}

/* tablet */
@media (max-width : 768px) {
    .section3 .row .card {
        width: 20rem !important;
    }
}

/* laptop */
@media (max-width : 1024px) {
    .section3 .row .card {
        width: 18rem !important;
    }

}

/* ---------------------------- call to action------------------ */

.section3_calltoaction {
    height: 50vh;
    background-image: url(../img/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.section3_calltoaction .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 45, 65, 0.7);
    padding: 35px 5px;
    text-align: center;
    color: white;
}

.section3_calltoaction .layout button {
    color: white;
    border: 2px  solid white;
    transition: all 0.5s ease;
}

.section3_calltoaction .layout button:hover{
    border: transparent;
}

/* mobile */
@media (max-width : 552px) {
    .section3_calltoaction .layout p {
        width: 100% !important;
    }
}

/* ===================== end section 3 Our Services =============== */


/* ===================== section 3 features =============== */

.features .container .card .row .card-body .card-title {
    color: #001973;
}

.features .container .card .row img {
height: 85%;
padding: 30px 0px;
}

/* mobile */
@media (max-width : 552px) {
.features .container-fluid .row div{
        width: 100% !important;
    }
    .features .container-fluid .row .img01 {
        padding-left: 0px !important;
        width: 100% !important;
}
.features .container-fluid .row .card-body {
    padding: 0px !important;
}
}

/* ===================== section 3 features =============== */




/* ===================== section 5 pricing =============== */
.section3 .row .card-body{
    height: auto;
}

.section3 .row .card-body a{
    padding-top: 30px;
}

.section3 .row .card-body a button{
width: 60%;
height: 8%;
padding: 5px;
border-radius: 5px;
color: #0d41ff;
background-color: white;
border-color: #0d41ff;
}

.section3 .row .card-body a button:hover{
    background-color: #0d41ff;
    color: white;
    
}

/* laptop */
@media (min-width : 1200px) {
    .section3 .row .card-body a button {
        height: 11%;
    }
}

/* tablet */
@media (max-width : 768px) {
    .section3 .row .body {
        width: 100% !important;
    }
    .section3 .row .card-body a button{
        width: 20%;
    }
}

/* mobile */
@media (max-width : 552px) {
    .section3 .row .card-body a button {
            width: 35% !important;
        }
    }    

    /* ===================== section 6 testimonials =============== */

    .section6_testimonials {
        height: 50vh;
        background-image: url(../img/testimonials-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 150px;
        display: flex;
        align-items: center;

    }
    .section6_testimonials .layout {
        height: 100%;
        width: 100%;
        background-color: rgba(56, 54, 54, 0.7);
        color: white;

    }

    .section6_testimonials .layout .slider{
        width: 70%;
        height: 80%;
        margin: auto;

    }

    .carousel-item {
        text-align: center;
        padding-top: 20px;
    }

    .carousel-item img {
        border: 2px solid white;
    }

    .choice{
        width: 10px !important;
        height: 10px !important;
        border-radius: 50% !important;
        background-color: black;
    }

    .fa-star{
        color: gold;
    }

    /* tablet */
@media (max-width : 768px) {
    .carousel-indicators {
        bottom: -42px !important;
    }
}

/* mobile */
@media (max-width : 552px) {
    .carousel-indicators {
        bottom: -50px !important;
    }
    }    

/* laptop */
@media (min-width : 1024px) {
    .carousel-indicators {
        bottom: -40px !important;
    }
    }    


    /* ===================== section 6 testimonials =============== */




    /* ===================== section 7 =============== */


.row .accordion{
    width: 75%;
    padding-left: 10%;
}

    /* tablet */
    @media (max-width : 768px) {
        .row .accordion {
            width: 100%;
            padding-left: 0px;
        }
    }

    @media (max-width : 552px) {
        .section3 .title .head { 
            font-size: 30px;
            padding-top: 20px;

        }
        .section3 .title .background {
            font-size: 20px;
            
        }
        }    
    


        /* ===================== section 7 =============== */




        /* ===================== section footer =============== */


        .container-fluid .footer .social .twitter , .facebook ,.instagram ,.linkedin {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        margin-right: 10px;
        transition: 0.3s;
        }








        /* ===================== section footer =============== */



